# Some generic hostgroup definitions

# A simple wildcard hostgroup
define hostgroup {
        hostgroup_name  all
	alias           All Servers
	members         *
        }

# A list of your Debian GNU/Linux servers
define hostgroup {
        hostgroup_name  controllers
	alias           Controller Hosts
	members         controller[1-9]
        }

# A list of your web servers
define hostgroup {
        hostgroup_name  computes
	alias           Compute Hosts
	members         compute[1-9]
        }


